.profile {
  &__container {
    padding: 15px 25px;
    justify-content: center;
    max-width: 250px;
  }

  &__link-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

  }

  &__image {
    max-height: 250px;
    max-width: 275px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    padding-top: 2.5px;
    text-overflow: wrap;
  }

  &__author {
    text-align: center;
    padding-top: 2.5px;
  }

  &__time {
    text-align: center;
    color: grey;
    font-style: italic;
    padding-top: 2.5px;
  }
}

@media only screen and (max-width: 767px) {
  .profile {
    &__image {
      max-height: 200px;
      max-width: 225px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .profile {
    &__image {
      max-height: 200px;
      max-width: 225px;
    }

    &__title {
      text-align: center;
      font-weight: 700;
      padding-top: 2.5px;
      text-overflow: wrap;
    }
  
    &__author {
      text-align: center;
      padding-top: 2.5px;
    }
  }
}