.hobbies {
  &__container {
    height: 90vh;
  } 

  &__headline {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }
  
  &__tagline {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 60px;
  }

  &__items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .hobbies {
    &__headline {
      font-size: 25px;
      margin-bottom: 10px;
    }

    &__tagline {
      font-size: 22px;
      padding-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .hobbies {
    &__container {
      height: auto;
    }

    &__tagline {
      font-size: 18px;
    }
  }
}