.experiences {
  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
    background: #F2F2F2;
  }

  &__experience-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    width: auto;
  }

  &__headline {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }

  &__image {
    width: 325px;
    height: 225px;
    background: orange;
    border-radius: 10px;
    margin-left: 0px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    width: 32.5%;
  }

  &__name {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.6px;
  }
  
  &__name-link {
    text-decoration: none;
    color: black;
    
    &:hover {
      color: darkblue;
    }
  }

  &__position {
    font-size: 20px;
    font-style: italic;
    color: lightslategray;
    letter-spacing: 0.2px;
    margin-top: 0px;
  }

  &__location {
    font-size: 20px;
    letter-spacing: 0.2px;
    margin-top: 5px;
  }

  &__description {
    margin-top: 15px;
    line-height: 22px;
    font-size: 15.5px;
    letter-spacing: 0.2px;
    font-family: 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 767px) {
  .experiences {
    &__content-container {
      padding-bottom: 30px;
    }
    
    &__experience-container {
      padding: 0 30px;
    }

    &__headline {
      font-size: 25px;
      margin-bottom: 0px;
    }
  
    &__image {
      width: 215px;
      height: 150px;
      margin: auto 0;
    }
  
    &__text-container {
      margin-left: 40px;
      width: auto;
    }
  
    &__name {
      font-size: 22px;
    }
  
    &__position {
      font-size: 18px;
    }
  
    &__location {
      font-size: 18px;
    }
  
    &__description {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .experiences {
    &__experience-container {
      flex-direction: column;
    }

    &__image {
      margin: 0 auto;
    }
  
    &__text-container {
      margin-left: 10px;
      margin-top: 15px;
    }
  
    &__name {
      text-align: center;
    }
  
    &__position {
      text-align: center;
    }
  
    &__location {
      text-align: center;
    }
  
    &__description {
      font-size: 14px;
    }
  }
}