.background {
  background: url('../share/images/filler_bg.jpg');
  height: 100vh;
  width: 100vw;
}

.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}