.about_wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.navbar_dark_layer {
	height: 100vh;
	width: 100vw;
	background-color: rgba(#000000, 0.4);
	position: absolute;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.about {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 20%;
	left: 17.5%;

	&__image {
		height: 350px;
		width: 350px;
		background-color: grey;
		border-radius: 50%;
		margin: auto;
	}

	&__text {
		width: auto;
		padding: 10px 50px;

		.header {
			font-size: 50px;
			font-weight: bold;
			font-family: 'Open Sans';
			letter-spacing: 2.5px;
			margin-bottom: 15px;
		}

		.paragraph {
			font-size: 22.5px;
			margin-bottom: 20px;
			width: 35vw;
		}
	}
}
