.footer {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    background: lightgray;
  }

  &__message {
    font-style: italic;
    font-size: 15px;
    color: #8c8c8c;
    letter-spacing: 0.7px;
    margin: auto 40px;
    text-align: left;
  }

  &__socialmedia-container {
    float: right;
    margin: auto 0;

  }

  &__socialmedia-icon {
    width: 20px;
    height: 20px;
    padding: 0 10px;

    &:hover {
      width: 25px;
      height: 25px;
      padding: 0 7.5px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    &__container {
      height: 7.5vh;
    }
  
    &__message {
      font-size: 12.5px;
    }
  
    &__socialmedia-icon {
      width: 17.5px;
      height: 17.5px;
      padding: 0 7.5px;
  
      &:hover {
        width: 20px;
        height: 20px;
        padding: 0 5px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    &__message {
      font-size: 10px;
      letter-spacing: 0.4px;
      margin: auto 10px;
    }
  
    &__socialmedia-icon {
      width: 15px;
      height: 15px;
      padding: 0 5px;
  
      &:hover {
        width: 16px;
        height: 16px;
        padding: 0 4.5px;
      }
    }
  }
}