.project_wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.navbar_dark_layer {
	height: 100vh;
	width: 100vw;
	background-color: rgba(#000000, 0.4);
	position: absolute;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.page-header {
	font-size: 40px;
	font-weight: bold;
	font-family: 'Open Sans';
	letter-spacing: 2.5px;
	position: fixed;
	left: 7.5%;
	top: 10%;
}

.section {
	background: blue;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 20%;
	left: 7.5%;

	&-header {
		font-size: 30px;
	}

	&-projects {
		padding: 20px 0;
		display: flex;
		flex-direction: row;

		.project-wrapper {
			padding: 10px;

			.image {
				height: 150px;
				width: 300px;
				border-radius: 10%;
				background-color: red;
				// position: absolute;
			}
		}
	}
}
